# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.elf
*.hex

Log.txt
helper.ods
*.swp
RISCV_TLM
dump
.project
.cproject
.settings
doc/Drawings.odg
doc/html
env.sh
gh-md-toc
